<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='project.css')}}">
    <title>ideas - portal</title>
    <style>
        main>section{
            display: inline-block;
            width: 65%;
            border: 4px solid black;
            width: 40%;
            margin: 20px auto;
            border-radius: 4px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome!</h1>
        </header>
        <div class="h-divider"></div>
        <main>
            <section>
                {% with messages=get_flashed_messages() %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endwith %}
                <h2>Register</h2>
                <form action="/register" method=POST>
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" name="name" required>
                    </div>
                    <div>
                        <label for="alias">Alias:</label>
                        <input type="text" name="alias">
                    </div>
                    <div>
                        <label for="title">Email:</label>
                        <input type="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                        <p>*Password should be at least 8 characters</p>
                    </div>
                    <div>
                        <label for="confirm">Confirm Password:</label>
                        <input type="password" name="confirm" required>
                    </div>
                    <input type="submit" value="Register!">
                </form>
            </section>
            <section>
                <h2>Login</h2>
                <form action="/login" method=POST>
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" name="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password">
                    </div>
                    <input type="submit" value="Log In!">
                </form>
            </section>
        </main>

    </div>

</body>
</html>
