<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='ideas.css')}}">
    <title>ideas - Edit ideas</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Follow Users!</h1>
            <button>
                <a href="/ideas" style="width: auto;">ideas</a>
            </button>
        </header>
        <div class="h-divider"></div>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Follow</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.full_name() }}</td>
                            <td>{{ user.email }}</td>
                            <td><a href="/follow/{{ user.id }}">Follow!</a></td>
                            <td><a href="/unfollow/{{ user.id }}">Unfollow!</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>