<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='project.css')}}">
    <title>Profile</title>
</head>
<div class="h-divider"></div>
<div class="nav">
    <button>
        <a href="/ideas">Bright Ideas</a>
    </button>
    <button>
        <a href="/logout">Logout</a>
    </button>
</div>
        <main>
            <section>
                <table>
                    <h2>Welcome: {{user['name']}} !</h2>
                    <h3>Alias: {{user['alias']}}</h3>
                    <h3>Email: {{user['email']}}</h3>
                </table>
            </section>
            <h4>{{number_of_ideas}}</h4>
        </main>
    </div>
</body>
</section>
</main>
</div> 
</html>